In [1]:
import numpy as np
import pandas as pd
import astropy.time
from Extend_Predictors import load_enso, load_independent_linear, load_qbo, load_solar

pgae https://omniweb.gsfc.nasa.gov/cgi/nx1.cgi?activity=retrieve&res=daily&spacecraft=omni2_daily&start_date=19690101&end_date=20180031&vars=50&scale=Linear&ymin=&ymax=&charsize=&symsize=0.5&symbol=0&imagex=640&imagey=480

In [2]:
columnStr = ['date', 'one', 'two']
tropop = pd.read_csv('/Volumes/HD3/KMI/MLR_Uccle/Files/newProxies/tropop.txt', header = None, sep = "\s *",
                     engine="python", names=columnStr)
tropop[0:3]

        date      one     two
0  2440237.0  228.844  -5.428
1  2440268.0  298.890  55.483
2  2440296.0  249.892   4.649

In [3]:
columnStr = ['jdate', 'pressure', 'pressure_ano']
tropop = pd.read_csv('/Volumes/HD3/KMI/MLR_Uccle/Files/newProxies/tropop.txt', header = None, sep = "\s *",
                     engine="python", names=columnStr)

julian_dates = tropop['jdate'].tolist()
dates = [0]*len(julian_dates)

for d in range(len(julian_dates)):
    tmp = julian_dates[d]
    tmp = float(tmp)
    tmp = int(tmp)
    julian_dates[d] = int(tmp)

    dates[d] = astropy.time.Time(julian_dates[d]-14,format='jd')
    dates[d] = dates[d].iso
    dates[d] = pd.to_datetime(dates[d]).date()

tropop['date'] = dates
pd.to_datetime(tropop['date'], format='%Y-%m')
tropop.set_index('date', inplace=True)

tropop['tropop_pre'] = (tropop.pressure - np.nanmean(tropop.pressure))/np.nanstd(tropop.pressure)
#tropop['pressure_ano_nor'] = (tropop.two - np.nanmean(tropop.two))/np.nanstd(tropop.two)
tropop = tropop.drop(columns={'jdate','pressure', 'pressure_ano'})


tropop[0:5]

            tropop_pre
date
1969-01-01   -0.088823
1969-02-01    3.087336
1969-03-01    0.865576
1969-04-01    0.393954
1969-05-01    1.260022

In [18]:
#   #   #   #   #   #
# Surface Temperature
#   #   #   #   #   #


columnStr = ['jdate', 'temp', 'ano']
tempsur = pd.read_csv('/Volumes/HD3/KMI/MLR_Uccle/Files/newProxies/tempsurf.txt', header = None, sep = "\s *",
                     engine="python", names=columnStr)

julian_dates = tempsur['jdate'].tolist()
dates = [0]*len(julian_dates)

for d in range(len(julian_dates)):
    tmp = julian_dates[d]
    tmp = float(tmp)
    tmp = int(tmp)
    julian_dates[d] = int(tmp)

    dates[d] = astropy.time.Time(julian_dates[d]-14,format='jd')
    dates[d] = dates[d].iso
    dates[d] = pd.to_datetime(dates[d]).date()

tempsur['date'] = dates
pd.to_datetime(tempsur['date'], format='%Y-%m')
tempsur.set_index('date', inplace=True)

tempsur['temp_nor'] = (tempsur.temp - np.nanmean(tempsur.temp))/np.nanstd(tempsur.temp)
tempsur['tempano_nor'] = (tempsur.ano - np.nanmean(tempsur.ano))/np.nanstd(tempsur.ano)
tempsur[0:2]

                jdate   temp    ano  temp_nor  tempano_nor
date
1969-01-01  2440237.0  5.180  0.792 -1.105104     0.396952
1969-02-01  2440268.0  1.375 -3.213 -1.718369    -1.471246

In [19]:
#   #   #   #   #   #
# AO 2018
#   #   #   #   #   #

columnStr = ['year', 'month', 'day','ao']
ao = pd.read_csv('/Volumes/HD3/KMI/MLR_Uccle/Files/newProxies/AO2018.txt', header = None, sep = "\s *",
                     engine="python", names=columnStr)
ao['date'] = pd.to_datetime(ao[['year', 'month', 'day']])
ao.set_index('date', inplace=True)
ao.resample('M')

ao = ao.drop(columns={'year','month', 'day'})

ao['nor_ao'] = (ao.ao - np.nanmean(ao.ao))/np.nanstd(ao.ao)
ao = ao.loc['1969-01-01':'2018-12-01'] # to have the same time period for all proxies

ao[0:2]

               ao    nor_ao
date
1969-01-01 -2.343 -1.547694
1969-01-02 -3.042 -2.030723

In [6]:
#   #   #   #   #   #
# NOI
#   #   #   #   #   #
columnStr = ['date', 'what','noi']
noi = pd.read_csv('/Volumes/HD3/KMI/MLR_Uccle/Files/newProxies/NOI_NOAA2018.txt', header = None, sep = "\s *",
                     engine="python", names=columnStr)
noi['date'] = pd.to_datetime(noi['date'], format='%d-%b-%Y')
noi['date'] = noi['date'] - pd.offsets.MonthBegin(1, normalize=True)
noi.set_index('date', inplace=True)
noi = noi.drop(columns= 'what')
noi['noi_nor'] = (noi.noi - np.nanmean(noi.noi))/np.nanstd(noi.noi)
noi = noi.loc['1969-01-01':'2018-12-01']
noi[0:10]

              noi   noi_nor
date
1969-01-01 -5.651 -2.075709
1969-02-01 -5.940 -2.179096
1969-03-01  1.665  0.541508
1969-04-01 -1.301 -0.519546
1969-05-01 -2.049 -0.787134
1969-06-01 -2.288 -0.872634
1969-07-01  0.632  0.171964
1969-08-01 -0.834 -0.352481
1969-09-01 -0.444 -0.212963
1969-10-01 -1.483 -0.584654

In [7]:
#   #   #   #   #   #
# tele_index EA
#   #   #   #   #   #

columnStr = ['year', 'month', 'NAO', 'EA','WP', 'EP_NP','PNA', 'EA_WR',
             'SCA', 'TNH', 'POL', 'PT', 'Expl_Var']
tele = pd.read_csv('/Volumes/HD3/KMI/MLR_Uccle/Files/newProxies/tele_index.nh',
                   header = None, sep = "\s *",
                   engine="python", names=columnStr, skiprows = 19)
tele['day'] = len(tele) * [1]
tele['date'] = pd.to_datetime(tele[['year', 'month','day']])
tele.set_index('date', inplace=True)
tele = tele.drop(columns={'year','month', 'day'})

tele = tele.loc['1969-01-01':'2018-12-01'] # to have the same time period for all proxies

In [8]:
#   #   #   #   #   #
#AOD
#   #   #   #   #   #

columnStr = ['bdate', 'global_aod', 'north_aod', 'south_aod']
aod1 = pd.read_csv('/Volumes/HD3/KMI/MLR_Uccle/Files/teleconnection_indices/AOD.txt', header = None, sep = "\s *",
                   engine="python", names = columnStr)
aod1['date'] = pd.date_range(start='1850-01-01', end='2012-09-01', freq = 'MS')

aod1.set_index('date', inplace=True)
aod1 = aod1.drop(columns={'bdate'})

mean_glob = np.nanmean(aod1.loc['2009-01-01':'2012-09-01']['global_aod'].tolist())
mean_north = np.nanmean(aod1.loc['2009-01-01':'2012-09-01']['north_aod'].tolist())
mean_south = np.nanmean(aod1.loc['2009-01-01':'2012-09-01']['south_aod'].tolist())

aod2 = pd.DataFrame()
aod2['date'] = pd.date_range(start='2012-10-01', end='2018-12-01', freq = 'MS')
aod2['global_aod'] = [mean_glob] * len(aod2)
aod2['north_aod'] = [mean_north] * len(aod2)
aod2['south_aod'] = [mean_south] * len(aod2)

aod2.set_index('date', inplace=True)

frames = [aod1, aod2]
aod = pd.concat(frames)
aod = aod.loc['1969-01-01':'2018-12-01']

aod['global_nor'] = (aod.global_aod -  np.nanmean(aod.global_aod))/ np.nanstd(aod.global_aod)
aod['north_nor'] = (aod.north_aod -  np.nanmean(aod.north_aod))/ np.nanstd(aod.north_aod)
aod['south_nor'] = (aod.south_aod -  np.nanmean(aod.south_aod))/ np.nanstd(aod.south_aod)



aod[0:5]

            global_aod  north_aod  south_aod  global_nor  north_nor  south_nor
date
1969-01-01      0.0429     0.0443     0.0414    1.195220   1.035035   1.329291
1969-02-01      0.0414     0.0428     0.0400    1.132701   0.980911   1.264140
1969-03-01      0.0398     0.0411     0.0384    1.066014   0.919571   1.189683
1969-04-01      0.0383     0.0396     0.0370    1.003495   0.865447   1.124532
1969-05-01      0.0367     0.0380     0.0354    0.936808   0.807715   1.050074

In [9]:
new_predictors = tropop
ao[0:5]

               ao    nor_ao
date
1969-01-01 -2.343 -1.547694
1969-01-02 -3.042 -2.030723
1969-01-03 -3.544 -2.377620
1969-01-04 -3.456 -2.316809
1969-01-05 -3.311 -2.216610

In [10]:
new_predictors['temp_sur'] = tempsur['temp_nor']
new_predictors['AO'] = ao['nor_ao']
new_predictors['NOI'] = noi['noi_nor']
new_predictors['EA'] = tele['EA']
new_predictors['AOD'] = aod.global_nor
new_predictors[0:20]

            tropop_pre  temp_sur        AO       NOI    EA       AOD
date
1969-01-01   -0.088823 -1.105104 -1.547694 -2.075709 -1.70  1.195220
1969-02-01    3.087336 -1.718369  0.527468 -2.179096 -0.52  1.132701
1969-03-01    0.865576 -1.388447 -1.162099  0.541508  0.02  1.066014
1969-04-01    0.393954 -0.358388  0.968344 -0.519546 -1.37  1.003495
1969-05-01    1.260022  0.367698 -1.339003 -0.787134  0.97  0.936808
1969-06-01   -0.087054  0.677795 -0.486273 -0.872634  0.57  0.870122
1969-07-01   -0.857130  1.204349  0.494298  0.171964 -0.10  0.807603
1969-08-01   -0.281761  0.925358 -0.493874 -0.352481 -1.82  0.740916
1969-09-01   -1.189183  0.532095 -0.349449 -0.212963 -0.51  0.682565
1969-10-01   -1.906660  0.092091 -0.249249 -0.584654  0.54  0.615878
1969-11-01    0.979661 -0.915242 -0.312133 -0.508456 -0.48  0.553359
1969-12-01   -0.568289 -1.972217  0.183335 -0.779264 -2.81  0.486672
1970-01-01    0.273430       NaN -1.330710 -1.807047  1.25  0.419986
1970-02-01    2.864380       NaN  0.118378 -1.417828 -0.17  0.357467
1970-03-01    2.927182       NaN -1.235348  0.600177 -0.70  0.290780
1970-04-01    2.128766       NaN  0.521248  1.410813  1.20  0.228261
1970-05-01    0.022542  0.735495  1.552955  0.901393 -0.41  0.165742
1970-06-01   -0.958700  1.356013  0.659454 -0.063429 -0.03  0.103223
1970-07-01    0.047300  0.876844  0.389262 -0.148570 -0.46  0.049040
1970-08-01   -0.920611  0.947922 -0.029502  0.109717 -0.47 -0.000975

In [11]:
linear_trends = load_independent_linear(pre_trend_end='1997-01-01', post_trend_start='2000-01-01')
print('linear trend', list(linear_trends))
enso = load_enso(lag_months= 0 )
print('enso', type(enso), list(enso))
solar = load_solar()
print('solar', type(solar),list(solar))
QBO = load_qbo(pca = 2)
print('QBO', list(QBO))

ext_predictor = pd.DataFrame()

# extende solar dates
ex_dates = pd.date_range(start='2018-02', end='2018-12', freq = 'MS')

value = solar.loc['2018-01-01']['solar_mm']
values = [value] * len(ex_dates)
solar2 = pd.DataFrame(values, index= ex_dates, columns=['solar_mm'])
solar = solar.append(solar2)
solar['nor'] = (solar.solar_mm - np.mean(solar.solar_mm))/np.std(solar.solar_mm)
norsolar = solar.nor.tolist()

predictors_uccle = linear_trends
predictors_uccle['enso'] = enso
predictors_uccle.loc['2018-12']['enso'] = predictors_uccle.loc['2018-11']['enso']
predictors_uccle['qboA'] = (QBO.pca - QBO.pca.mean())/QBO.pca.std()
predictors_uccle['qboB'] = (QBO.pcb - QBO.pcb.mean())/QBO.pcb.std()
predictors_uccle['solar'] = norsolar

linear trend ['linear_pre', 'linear_post', 'post_const', 'pre_const', 'gap_const']
enso <class 'pandas.core.series.Series'> [0.67, 0.8490000000000001, 0.45799999999999996, 0.622, 0.674, 0.8009999999999999, 0.49, 0.212, 0.162, 0.496, 0.659, 0.41700000000000004, 0.38, 0.43200000000000005, 0.228, 0.013999999999999999, -0.099, -0.636, -1.055, -1.0070000000000001, -1.251, -1.088, -1.074, -1.203, -1.204, -1.507, -1.79, -1.839, -1.429, -1.42, -1.207, -1.213, -1.4669999999999999, -1.415, -1.311, -0.9690000000000001, -0.575, -0.39799999999999996, -0.256, -0.166, 0.423, 0.966, 1.8259999999999998, 1.8, 1.5219999999999998, 1.617, 1.704, 1.787, 1.723, 1.515, 0.87, 0.491, -0.099, -0.758, -1.056, -1.334, -1.734, -1.66, -1.489, -1.8259999999999998, -1.912, -1.768, -1.743, -1.62, -1.048, -0.6940000000000001, -0.75, -0.664, -0.628, -1.05, -1.24, -0.8859999999999999, -0.522, -0.5760000000000001, -0.85, -0.927, -0.838, -1.148, -1.4969999999999999, -1.712, -1.876, -1.9780000000000002, -1.756, -1.732, -1.587, -1.3659999999999999, -1.213, -1.157, -0.483, 0.276, 0.633, 0.654, 1.018, 0.927, 0.49, 0.565, 0.529, 0.29, 0.145, 0.552, 0.31, 0.414, 0.888, 0.684, 0.7829999999999999, 0.97, 0.9620000000000001, 0.877, 0.777, 0.912, 0.935, 0.19899999999999998, -0.37799999999999995, -0.605, -0.42, -0.19899999999999998, -0.391, -0.027999999999999997, 0.175, 0.406, 0.608, 0.379, 0.002, 0.301, 0.374, 0.429, 0.396, 0.615, 0.759, 0.655, 0.7340000000000001, 1.004, 0.677, 0.601, 0.684, 0.912, 0.958, 0.9109999999999999, 0.769, 0.32899999999999996, 0.263, 0.192, 0.248, 0.111, -0.25, -0.14, 0.455, 0.669, 0.18899999999999997, -0.024, -0.026000000000000002, -0.09, 0.174, 0.10099999999999999, -0.039, -0.126, -0.258, -0.125, 0.1, 0.008, 0.44299999999999995, 0.93, 1.6119999999999999, 1.778, 1.7830000000000001, 2.001, 2.394, 2.425, 2.677, 2.931, 3.008, 2.812, 2.498, 2.235, 1.7930000000000001, 1.159, 0.45899999999999996, 0.024, -0.132, -0.17, -0.314, -0.509, 0.151, 0.39, 0.18, -0.049, -0.054000000000000006, -0.155, -0.12, -0.006, -0.35, -0.585, -0.546, -0.5760000000000001, -0.696, -0.46799999999999997, -0.706, -0.166, -0.126, -0.365, -0.535, -0.14800000000000002, -0.06, -0.27899999999999997, -0.293, -0.183, 0.027999999999999997, -0.107, 0.353, 0.27899999999999997, 0.401, 0.765, 1.077, 0.96, 0.865, 1.202, 1.249, 1.218, 1.716, 1.855, 2.1069999999999998, 1.9580000000000002, 1.8780000000000001, 1.973, 1.851, 1.617, 1.2570000000000001, 1.2930000000000001, 1.115, 0.716, 0.495, 0.389, 0.193, -0.5820000000000001, -1.109, -1.295, -1.526, -1.328, -1.453, -1.311, -1.103, -1.2409999999999999, -1.035, -0.76, -0.39299999999999996, -0.242, -0.43, -0.494, -0.315, -0.342, -0.073, 0.131, 0.243, 0.573, 0.951, 0.46, 0.652, 0.511, 0.147, 0.127, 0.366, 0.273, 0.38299999999999995, 0.36200000000000004, 0.319, 0.32299999999999995, 0.39899999999999997, 0.449, 0.741, 1.051, 1.044, 1.008, 0.7390000000000001, 0.99, 1.172, 1.34, 1.7469999999999999, 1.886, 1.985, 2.247, 2.085, 1.735, 1.045, 0.5589999999999999, 0.488, 0.624, 0.569, 0.664, 0.6920000000000001, 0.99, 0.987, 1.4080000000000001, 1.993, 1.6159999999999999, 1.204, 1.026, 0.966, 1.045, 0.8220000000000001, 0.595, 0.35200000000000004, 0.193, 0.159, 0.465, 0.58, 0.8029999999999999, 0.904, 0.762, 0.893, 1.389, 1.2819999999999998, 1.251, 1.219, 0.9590000000000001, 0.845, 0.45299999999999996, 0.57, 0.507, 0.23399999999999999, -0.147, -0.445, -0.48100000000000004, -0.474, -0.537, -0.597, -0.5660000000000001, -0.23600000000000002, -0.391, -0.040999999999999995, 0.087, -0.17300000000000001, -0.374, -0.457, -0.359, -0.149, -0.325, -0.48, -0.605, -0.248, 0.527, 1.1320000000000001, 2.275, 2.825, 3.002, 2.99, 2.3609999999999998, 2.516, 2.344, 2.455, 2.7769999999999997, 2.7510000000000003, 2.658, 2.206, 1.3359999999999999, 0.392, -0.336, -0.636, -0.8079999999999999, -1.071, -0.9079999999999999, -1.0390000000000001, -1.123, -0.95, -0.88, -0.596, -0.33899999999999997, -0.478, -0.7390000000000001, -0.9670000000000001, -0.97, -1.041, -1.1420000000000001, -1.122, -1.189, -1.09, -0.397, 0.251, 0.001, -0.159, -0.145, -0.23800000000000002, -0.391, -0.713, -0.55, -0.496, -0.649, -0.5479999999999999, -0.05, 0.282, 0.052000000000000005, 0.297, 0.332, -0.174, -0.276, -0.151, 0.033, 0.017, -0.16, -0.11800000000000001, 0.401, 0.8859999999999999, 0.932, 0.7120000000000001, 1.002, 0.8809999999999999, 0.9790000000000001, 1.0759999999999998, 1.156, 1.214, 0.9440000000000001, 0.83, 0.413, 0.214, 0.107, 0.177, 0.309, 0.46, 0.49700000000000005, 0.563, 0.36200000000000004, 0.332, 0.37, -0.036000000000000004, 0.358, 0.5579999999999999, 0.315, 0.5710000000000001, 0.617, 0.5579999999999999, 0.49200000000000005, 0.794, 0.684, 0.325, 0.816, 1.057, 0.626, 0.885, 0.589, 0.519, 0.34299999999999997, 0.29600000000000004, -0.179, -0.385, -0.55, -0.428, -0.414, -0.521, -0.5710000000000001, 0.045, 0.526, 0.716, 0.748, 0.8, 0.9390000000000001, 1.272, 0.965, 0.985, 0.537, 0.125, 0.026000000000000002, 0.348, -0.155, -0.248, -0.442, -1.197, -1.217, -1.155, -1.178, -1.006, -1.371, -1.5519999999999998, -0.858, -0.345, 0.142, 0.08800000000000001, -0.26899999999999996, -0.58, -0.6990000000000001, -0.588, -0.6459999999999999, -0.7140000000000001, -0.69, -0.705, -0.106, 0.326, 0.7509999999999999, 1.06, 1.05, 0.7070000000000001, 0.883, 1.107, 1.0590000000000002, 1.0659999999999998, 1.526, 1.462, 0.978, 0.6579999999999999, -0.228, -1.103, -1.671, -1.879, -1.892, -1.4769999999999999, -1.558, -1.719, -1.544, -1.554, -1.3869999999999998, -0.19899999999999998, -0.003, -0.193, -0.517, -0.778, -0.9390000000000001, -0.938, -0.945, -0.98, -0.675, -0.382, 0.11, 0.757, 0.8420000000000001, 1.126, 0.607, 0.316, 0.069, 0.127, 0.111, 0.10300000000000001, -0.068, -0.026000000000000002, 0.09, 0.205, -0.094, -0.314, -0.48100000000000004, -0.155, 0.115, -0.053, -0.23399999999999999, -0.27, -0.259, 0.018000000000000002, 0.295, 1.001, 1.046, 0.915, 0.937, 0.557, 0.42100000000000004, 0.754, 0.5660000000000001, 0.41700000000000004, 0.46399999999999997, 0.614, 0.9159999999999999, 1.5830000000000002, 2.097, 1.9809999999999999, 2.334, 2.479, 2.201, 2.271, 2.12, 2.2159999999999997, 2.17, 1.963, 2.094, 1.7519999999999998, 1.053, 0.35200000000000004, 0.16699999999999998, -0.11800000000000001, -0.385, -0.209, -0.11, -0.052000000000000005, -0.043, -0.08, 0.7440000000000001, 1.445, 1.0390000000000001, 0.456, 0.009000000000000001, -0.478, -0.568, -0.285, -0.5760000000000001, -0.623, -0.731, -0.502, -0.43200000000000005, 0.465, 0.469, 0.076, 0.132, 0.509, 0.46799999999999997, 0.698]
pgae https://omniweb.gsfc.nasa.gov/cgi/nx1.cgi?activity=retrieve&res=daily&spacecraft=omni2_daily&start_date=19690101&end_date=20180031&vars=50&scale=Linear&ymin=&ymax=&charsize=&symsize=0.5&symbol=0&imagex=640&imagey=480
solar <class 'pandas.core.frame.DataFrame'> ['solar_mm']
QBO ['70', '50', '40', '30', '20', '15', '10', 'pca', 'pcb']

In [21]:
#predictors_uccle['date'] =  pd.to_datetime(predictors_uccle.index, format='%Y-%d-%m')

predictors_uccle[0:2]

,linear_pre,linear_post,post_const,pre_const,gap_const,enso,qboA,qboB,solar
1969-01,-2.800057,0.0,0.0,1.0,0.0,0.670,1.259361,0.897587,0.594145
1969-02,-2.791570,0.0,0.0,1.0,0.0,0.849,1.132396,0.537626,0.672909

In [32]:
new_predictors[-5:]

            tropop_pre  temp_sur        AO       NOI    EA       AOD
date
2018-08-01   -0.452526  1.574886 -0.244412  0.147637  1.82 -0.415359
2018-09-01   -1.580138  1.016743  0.974563  0.169459  0.15 -0.415359
2018-10-01   -1.780830  0.472944  0.209594 -0.263047 -0.39 -0.415359
2018-11-01    0.706464 -0.454447 -0.943734 -0.049477  0.32 -0.415359
2018-12-01   -0.024298 -0.772442 -0.738498  0.866692  1.44 -0.415359

In [31]:
newnew = pd.DataFrame()
newnew.set_index = new_predictors.index
newnew['AO'] = new_predictors['AO']
len(new_predictors), len(predictors_uccle)
#newnew['solar'] = predictors_uccle['solar'].tolist()


#newnew[0:5]

(565, 600)

In [14]:
allp = pd.read_csv('/Volumes/HD3/KMI/MLR_Uccle/Files/NewPredictors_ilt.csv')

In [15]:
allp[-300:]

,Unnamed: 0,linear_pre,linear_post,post_const,pre_const,gap_const,enso,qboA,qboB,solar,pre_tropop,temp_sur,AO,NOI,EA,AOD
300,1994-01,-0.300075,0.000000,0.0,1.0,0.0,0.352,-1.380052,0.011409,-0.197379,NaN,NaN,NaN,NaN,NaN,NaN
301,1994-02,-0.291587,0.000000,0.0,1.0,0.0,0.193,-1.380297,0.048556,-0.504357,NaN,NaN,NaN,NaN,NaN,NaN
302,1994-03,-0.283921,0.000000,0.0,1.0,0.0,0.159,-1.467601,0.200423,-0.670657,NaN,NaN,NaN,NaN,NaN,NaN
303,1994-04,-0.275433,0.000000,0.0,1.0,0.0,0.465,-1.530780,0.453127,-0.883679,NaN,NaN,NaN,NaN,NaN,NaN
304,1994-05,-0.267220,0.000000,0.0,1.0,0.0,0.580,-1.301599,1.120082,-0.840444,NaN,NaN,NaN,NaN,NaN,NaN
305,1994-06,-0.258732,0.000000,0.0,1.0,0.0,0.803,-0.697525,1.818722,-0.882089,NaN,NaN,NaN,NaN,NaN,NaN
306,1994-07,-0.250518,0.000000,0.0,1.0,0.0,0.904,-0.143239,2.004275,-0.808277,NaN,NaN,NaN,NaN,NaN,NaN
307,1994-08,-0.242031,0.000000,0.0,1.0,0.0,0.762,0.513961,1.931323,-0.919884,NaN,NaN,NaN,NaN,NaN,NaN
308,1994-09,-0.233543,0.000000,0.0,1.0,0.0,0.893,0.960637,1.742075,-0.878476,NaN,NaN,NaN,NaN,NaN,NaN
309,1994-10,-0.225330,0.000000,0.0,1.0,0.0,1.389,1.253051,1.014609,-0.722265,NaN,NaN,NaN,NaN,NaN,NaN
310,1994-11,-0.216842,0.000000,0.0,1.0,0.0,1.282,1.499276,0.260000,-0.895168,NaN,NaN,NaN,NaN,NaN,NaN
311,1994-12,-0.208629,0.000000,0.0,1.0,0.0,1.251,1.529342,-0.352519,-0.844570,NaN,NaN,NaN,NaN,NaN,NaN
312,1995-01,-0.200141,0.000000,0.0,1.0,0.0,1.219,1.428170,-0.689716,-0.876248,NaN,NaN,NaN,NaN,NaN,NaN
313,1995-02,-0.191653,0.000000,0.0,1.0,0.0,0.959,0.966789,-0.519147,-0.800880,NaN,NaN,NaN,NaN,NaN,NaN
314,1995-03,-0.183987,0.000000,0.0,1.0,0.0,0.845,0.865738,-0.490292,-0.785830,NaN,NaN,NaN,NaN,NaN,NaN
315,1995-04,-0.175500,0.000000,0.0,1.0,0.0,0.453,0.890600,-0.749495,-0.915401,NaN,NaN,NaN,NaN,NaN,NaN
316,1995-05,-0.167286,0.000000,0.0,1.0,0.0,0.570,0.478690,-1.359694,-0.938624,NaN,NaN,NaN,NaN,NaN,NaN
317,1995-06,-0.158799,0.000000,0.0,1.0,0.0,0.507,0.050398,-1.466660,-0.917786,NaN,NaN,NaN,NaN,NaN,NaN
318,1995-07,-0.150585,0.000000,0.0,1.0,0.0,0.234,-0.293607,-1.352864,-0.956177,NaN,NaN,NaN,NaN,NaN,NaN
319,1995-08,-0.142097,0.000000,0.0,1.0,0.0,-0.147,-0.484459,-1.194808,-0.970862,NaN,NaN,NaN,NaN,NaN,NaN
320,1995-09,-0.133610,0.000000,0.0,1.0,0.0,-0.445,-0.537385,-1.011598,-1.033690,NaN,NaN,NaN,NaN,NaN,NaN
321,1995-10,-0.125396,0.000000,0.0,1.0,0.0,-0.481,-0.684953,-0.754989,-0.931771,NaN,NaN,NaN,NaN,NaN,NaN
322,1995-11,-0.116909,0.000000,0.0,1.0,0.0,-0.474,-0.778405,-0.410176,-1.036508,NaN,NaN,NaN,NaN,NaN,NaN
323,1995-12,-0.108695,0.000000,0.0,1.0,0.0,-0.537,-0.779909,-0.148924,-1.087223,NaN,NaN,NaN,NaN,NaN,NaN
324,1996-01,-0.100207,0.000000,0.0,1.0,0.0,-0.597,-1.061812,-0.196069,-1.047154,NaN,NaN,NaN,NaN,NaN,NaN
325,1996-02,-0.091720,0.000000,0.0,1.0,0.0,-0.566,-1.178635,-0.203749,-1.097712,NaN,NaN,NaN,NaN,NaN,NaN
326,1996-03,-0.083780,0.000000,0.0,1.0,0.0,-0.236,-1.293335,-0.032888,-1.093796,NaN,NaN,NaN,NaN,NaN,NaN
327,1996-04,-0.075292,0.000000,0.0,1.0,0.0,-0.391,-1.407553,0.239453,-1.096340,NaN,NaN,NaN,NaN,NaN,NaN
328,1996-05,-0.067079,0.000000,0.0,1.0,0.0,-0.041,-1.450601,0.755689,-1.056944,NaN,NaN,NaN,NaN,NaN,NaN
329,1996-06,-0.058591,0.000000,0.0,1.0,0.0,0.087,-1.024756,1.564866,-1.054646,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
570,2016-07,-0.000000,1.649863,1.0,0.0,0.0,0.352,0.905907,-0.183243,-0.686391,NaN,NaN,NaN,NaN,NaN,NaN
571,2016-08,-0.000000,1.658350,1.0,0.0,0.0,0.167,1.009931,-0.678018,-0.723384,NaN,NaN,NaN,NaN,NaN,NaN
572,2016-09,-0.000000,1.666838,1.0,0.0,0.0,-0.118,0.973599,-0.837886,-0.688433,NaN,NaN,NaN,NaN,NaN,NaN
573,2016-10,-0.000000,1.675052,1.0,0.0,0.0,-0.385,0.987150,-0.853937,-0.756180,NaN,NaN,NaN,NaN,NaN,NaN
574,2016-11,-0.000000,1.683539,1.0,0.0,0.0,-0.209,1.045932,-0.966451,-0.944594,NaN,NaN,NaN,NaN,NaN,NaN
575,2016-12,-0.000000,1.691753,1.0,0.0,0.0,-0.110,1.087760,-1.104985,-1.033028,NaN,NaN,NaN,NaN,NaN,NaN
576,2017-01,-0.000000,1.700240,1.0,0.0,0.0,-0.052,0.926395,-1.176383,-0.987784,NaN,NaN,NaN,NaN,NaN,NaN
577,2017-02,-0.000000,1.708728,1.0,0.0,0.0,-0.043,0.974348,-1.225595,-0.984445,NaN,NaN,NaN,NaN,NaN,NaN
578,2017-03,-0.000000,1.716394,1.0,0.0,0.0,-0.080,0.624895,-1.312705,-1.009392,NaN,NaN,NaN,NaN,NaN,NaN
579,2017-04,-0.000000,1.724881,1.0,0.0,0.0,0.744,-0.057798,-1.413256,-0.841263,NaN,NaN,NaN,NaN,NaN,NaN
580,2017-05,-0.000000,1.733095,1.0,0.0,0.0,1.445,-0.817646,-1.116886,-0.980512,NaN,NaN,NaN,NaN,NaN,NaN
581,2017-06,-0.000000,1.741583,1.0,0.0,0.0,1.039,-1.219862,-0.583746,-0.940042,NaN,NaN,NaN,NaN,NaN,NaN
582,2017-07,-0.000000,1.749796,1.0,0.0,0.0,0.456,-1.392171,-0.213223,-0.873031,NaN,NaN,NaN,NaN,NaN,NaN
583,2017-08,-0.000000,1.758284,1.0,0.0,0.0,0.009,-1.458535,-0.130221,-0.879954,NaN,NaN,NaN,NaN,NaN,NaN
584,2017-09,-0.000000,1.766771,1.0,0.0,0.0,-0.478,-1.495484,-0.125778,-0.564436,NaN,NaN,NaN,NaN,NaN,NaN
585,2017-10,-0.000000,1.774985,1.0,0.0,0.0,-0.568,-1.545508,0.082309,-0.965058,NaN,NaN,NaN,NaN,NaN,NaN
586,2017-11,-0.000000,1.783473,1.0,0.0,0.0,-0.285,-1.348423,0.382029,-1.079792,NaN,NaN,NaN,NaN,NaN,NaN
587,2017-12,-0.000000,1.791686,1.0,0.0,0.0,-0.576,-1.048627,0.759017,-1.107712,NaN,NaN,NaN,NaN,NaN,NaN
588,2018-01,-0.000000,1.800174,1.0,0.0,0.0,-0.623,-1.194263,0.694062,-1.143096,NaN,NaN,NaN,NaN,NaN,NaN
589,2018-02,-0.000000,1.808661,1.0,0.0,0.0,-0.731,-1.339998,0.338968,-1.143096,NaN,NaN,NaN,NaN,NaN,NaN
590,2018-03,-0.000000,1.816328,1.0,0.0,0.0,-0.502,-1.377324,0.433327,-1.143096,NaN,NaN,NaN,NaN,NaN,NaN
591,2018-04,-0.000000,1.824815,1.0,0.0,0.0,-0.432,-1.214758,0.948789,-1.143096,NaN,NaN,NaN,NaN,NaN,NaN
592,2018-05,-0.000000,1.833029,1.0,0.0,0.0,0.465,-0.878466,1.462241,-1.143096,NaN,NaN,NaN,NaN,NaN,NaN
593,2018-06,-0.000000,1.841516,1.0,0.0,0.0,0.469,-0.145430,1.878382,-1.143096,NaN,NaN,NaN,NaN,NaN,NaN
594,2018-07,-0.000000,1.849730,1.0,0.0,0.0,0.076,0.385182,1.836901,-1.143096,NaN,NaN,NaN,NaN,NaN,NaN
595,2018-08,-0.000000,1.858217,1.0,0.0,0.0,0.132,0.804669,1.743307,-1.143096,NaN,NaN,NaN,NaN,NaN,NaN
596,2018-09,-0.000000,1.866705,1.0,0.0,0.0,0.509,1.185663,1.342924,-1.143096,NaN,NaN,NaN,NaN,NaN,NaN
597,2018-10,-0.000000,1.874919,1.0,0.0,0.0,0.468,1.351891,0.933160,-1.143096,NaN,NaN,NaN,NaN,NaN,NaN
598,2018-11,-0.000000,1.883406,1.0,0.0,0.0,0.698,1.646219,0.401344,-1.143096,NaN,NaN,NaN,NaN,NaN,NaN
599,2018-12,-0.000000,1.891620,1.0,0.0,0.0,0.698,1.642771,-0.093206,-1.143096,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
pre= pd.read_csv('/Volumes/HD3/KMI/MLR_Uccle/Files/Extended_ilt.csv')
pre

,Unnamed: 0,linear_pre,linear_post,post_const,pre_const,gap_const,enso,qboA,qboB,solar
0,1969-01,-2.800057,0.000000,0.0,1.0,0.0,0.670,1.259361,0.897587,0.594145
1,1969-02,-2.791570,0.000000,0.0,1.0,0.0,0.849,1.132396,0.537626,0.672909
2,1969-03,-2.783904,0.000000,0.0,1.0,0.0,0.458,1.322247,0.249722,1.087912
3,1969-04,-2.775416,0.000000,0.0,1.0,0.0,0.622,1.437846,-0.268946,0.782558
4,1969-05,-2.767203,0.000000,0.0,1.0,0.0,0.674,1.401092,-0.544063,0.612746
5,1969-06,-2.758715,0.000000,0.0,1.0,0.0,0.801,1.306426,-0.793939,1.015524
6,1969-07,-2.750501,0.000000,0.0,1.0,0.0,0.490,1.108783,-0.963954,0.447504
7,1969-08,-2.742014,0.000000,0.0,1.0,0.0,0.212,0.952528,-1.110109,0.567432
8,1969-09,-2.733526,0.000000,0.0,1.0,0.0,0.162,0.595290,-1.060162,0.396908
9,1969-10,-2.725313,0.000000,0.0,1.0,0.0,0.496,0.181393,-1.034818,0.704282
10,1969-11,-2.716825,0.000000,0.0,1.0,0.0,0.659,-0.319599,-0.891762,0.709720
11,1969-12,-2.708611,0.000000,0.0,1.0,0.0,0.417,-0.599397,-0.799225,0.405337
12,1970-01,-2.700124,0.000000,0.0,1.0,0.0,0.380,-0.708687,-0.612986,0.716310
13,1970-02,-2.691636,0.000000,0.0,1.0,0.0,0.432,-0.858146,-0.336710,1.100352
14,1970-03,-2.683970,0.000000,0.0,1.0,0.0,0.228,-0.935951,-0.251783,0.787218
15,1970-04,-2.675483,0.000000,0.0,1.0,0.0,0.014,-0.966305,0.028605,0.923826
16,1970-05,-2.667269,0.000000,0.0,1.0,0.0,-0.099,-1.011696,0.352593,1.121198
17,1970-06,-2.658781,0.000000,0.0,1.0,0.0,-0.636,-0.795115,1.180764,0.855035
18,1970-07,-2.650568,0.000000,0.0,1.0,0.0,-1.055,-0.441014,1.590573,0.792113
19,1970-08,-2.642080,0.000000,0.0,1.0,0.0,-1.007,-0.301097,1.765512,0.459671
20,1970-09,-2.633593,0.000000,0.0,1.0,0.0,-1.251,-0.193434,1.885564,0.524157
21,1970-10,-2.625379,0.000000,0.0,1.0,0.0,-1.088,0.372896,1.821339,0.581627
22,1970-11,-2.616892,0.000000,0.0,1.0,0.0,-1.074,0.769696,1.714082,0.824830
23,1970-12,-2.608678,0.000000,0.0,1.0,0.0,-1.203,1.247025,1.453107,0.597711
24,1971-01,-2.600190,0.000000,0.0,1.0,0.0,-1.204,1.272186,0.946642,0.800994
25,1971-02,-2.591703,0.000000,0.0,1.0,0.0,-1.507,1.170800,0.529692,0.303068
26,1971-03,-2.584037,0.000000,0.0,1.0,0.0,-1.790,1.314141,0.229304,-0.208988
27,1971-04,-2.575549,0.000000,0.0,1.0,0.0,-1.839,1.375580,-0.121175,-0.063459
28,1971-05,-2.567335,0.000000,0.0,1.0,0.0,-1.429,1.273346,-0.592550,-0.175142
29,1971-06,-2.558848,0.000000,0.0,1.0,0.0,-1.420,1.179844,-0.737043,-0.337468
...,...,...,...,...,...,...,...,...,...,...
570,2016-07,-0.000000,1.649863,1.0,0.0,0.0,0.352,0.905907,-0.183243,-0.686391
571,2016-08,-0.000000,1.658350,1.0,0.0,0.0,0.167,1.009931,-0.678018,-0.723384
572,2016-09,-0.000000,1.666838,1.0,0.0,0.0,-0.118,0.973599,-0.837886,-0.688433
573,2016-10,-0.000000,1.675052,1.0,0.0,0.0,-0.385,0.987150,-0.853937,-0.756180
574,2016-11,-0.000000,1.683539,1.0,0.0,0.0,-0.209,1.045932,-0.966451,-0.944594
575,2016-12,-0.000000,1.691753,1.0,0.0,0.0,-0.110,1.087760,-1.104985,-1.033028
576,2017-01,-0.000000,1.700240,1.0,0.0,0.0,-0.052,0.926395,-1.176383,-0.987784
577,2017-02,-0.000000,1.708728,1.0,0.0,0.0,-0.043,0.974348,-1.225595,-0.984445
578,2017-03,-0.000000,1.716394,1.0,0.0,0.0,-0.080,0.624895,-1.312705,-1.009392
579,2017-04,-0.000000,1.724881,1.0,0.0,0.0,0.744,-0.057798,-1.413256,-0.841263
580,2017-05,-0.000000,1.733095,1.0,0.0,0.0,1.445,-0.817646,-1.116886,-0.980512
581,2017-06,-0.000000,1.741583,1.0,0.0,0.0,1.039,-1.219862,-0.583746,-0.940042
582,2017-07,-0.000000,1.749796,1.0,0.0,0.0,0.456,-1.392171,-0.213223,-0.873031
583,2017-08,-0.000000,1.758284,1.0,0.0,0.0,0.009,-1.458535,-0.130221,-0.879954
584,2017-09,-0.000000,1.766771,1.0,0.0,0.0,-0.478,-1.495484,-0.125778,-0.564436
585,2017-10,-0.000000,1.774985,1.0,0.0,0.0,-0.568,-1.545508,0.082309,-0.965058
586,2017-11,-0.000000,1.783473,1.0,0.0,0.0,-0.285,-1.348423,0.382029,-1.079792
587,2017-12,-0.000000,1.791686,1.0,0.0,0.0,-0.576,-1.048627,0.759017,-1.107712
588,2018-01,-0.000000,1.800174,1.0,0.0,0.0,-0.623,-1.194263,0.694062,-1.143096
589,2018-02,-0.000000,1.808661,1.0,0.0,0.0,-0.731,-1.339998,0.338968,-1.143096
590,2018-03,-0.000000,1.816328,1.0,0.0,0.0,-0.502,-1.377324,0.433327,-1.143096
591,2018-04,-0.000000,1.824815,1.0,0.0,0.0,-0.432,-1.214758,0.948789,-1.143096
592,2018-05,-0.000000,1.833029,1.0,0.0,0.0,0.465,-0.878466,1.462241,-1.143096
593,2018-06,-0.000000,1.841516,1.0,0.0,0.0,0.469,-0.145430,1.878382,-1.143096
594,2018-07,-0.000000,1.849730,1.0,0.0,0.0,0.076,0.385182,1.836901,-1.143096
595,2018-08,-0.000000,1.858217,1.0,0.0,0.0,0.132,0.804669,1.743307,-1.143096
596,2018-09,-0.000000,1.866705,1.0,0.0,0.0,0.509,1.185663,1.342924,-1.143096
597,2018-10,-0.000000,1.874919,1.0,0.0,0.0,0.468,1.351891,0.933160,-1.143096
598,2018-11,-0.000000,1.883406,1.0,0.0,0.0,0.698,1.646219,0.401344,-1.143096
599,2018-12,-0.000000,1.891620,1.0,0.0,0.0,0.698,1.642771,-0.093206,-1.143096