In [76]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm
from datetime import datetime
from scipy import stats

In [81]:
columnStr = ['year','month', 'Obsflux', 'Adjflux', 'Absflux']

df = pd.read_csv('/Volumes/HD3/KMI/MLR_Uccle/Files/teleconnection_indices/solflux_monthly_average2018.txt',
                   sep = "\s *", engine="python", skiprows=1, names=columnStr)
df[0:10], len(df)

y = np.asarray(df.year.tolist())
m = np.asarray(df.month.tolist())
date = ['']*len(y)

for i in range(len(y)):
    date[i] = str(y[i])+ '-' + str(m[i]) + '-01'
date[300:320]

df['date'] =  pd.to_datetime(date, format='%Y-%m')

df.set_index('date', inplace=True)

df = df.drop(columns='year')
df = df.drop(columns='month')

df[0:10]

            Obsflux  Adjflux  Absflux
date
1947-03-01   226.29   224.10   201.69
1947-04-01   264.15   265.84   239.26
1947-05-01   261.17   267.09   240.37
1947-06-01   217.54   224.49   202.03
1947-07-01   207.23   214.01   192.61
1947-08-01   231.21   237.09   213.39
1947-09-01   192.03   194.10   174.69
1947-10-01   209.05   207.65   186.87
1947-11-01   179.83   175.76   158.18
1947-12-01   176.43   170.93   153.84

In [82]:
year_dif = (pd.Timestamp('2018-12-01') - pd.Timestamp('1947-03-01'))/np.timedelta64(1,'Y')
year_dif

71.75506683915481

In [60]:
jan = [[0] * 71] *3;feb = [[0] * 71] *3;mar = [[0] * 71] *3;apr = [[0] * 71] *3;may = [[0] * 71] *3;jun = [[0] * 71] *3;
jul = [[0] * 71] *3;aug = [[0] * 71] *3;sep = [[0] * 71] *3;oct = [[0] * 71] *3;nov = [[0] * 71] *3;dec = [[0] * 71] *3

jan_mean = [0] * 3;feb_mean = [0] * 3;mar_mean = [0] * 3;apr_mean = [0] * 3;may_mean = [0] * 3;jun_mean = [0] * 3;
jul_mean = [0] * 3;aug_mean = [0] * 3;sep_mean = [0] * 3;oct_mean = [0] * 3;nov_mean = [0] * 3;dec_mean = [0] * 3

In [83]:
uct = {}

alt = ['Obsflux','Adjflux','Absflux']
alt2 = ['Obsflux_ds','Adjflux_ds','Absflux_ds']


for ir in range(3):  # per each km
    
    uct[ir] = df
    
    jan[ir].clear();
    feb[ir].clear();
    mar[ir].clear();
    apr[ir].clear();
    may[ir].clear();
    jun[ir].clear()
    jul[ir].clear();
    aug[ir].clear();
    sep[ir].clear();
    oct[ir].clear();
    nov[ir].clear();
    dec[ir].clear()

    for i in (uct[ir][alt[ir]].index):

        if (pd.Timestamp(i).month == 1):
            #print('hey',alt[ir],  i, (uct[ir][alt[ir]].loc[pd.Timestamp(i)]))
            jan[ir].append(uct[ir][alt[ir]].loc[pd.Timestamp(i)])
            jan[ir] = list(filter(lambda a: a != 0, jan[ir]))
        if (pd.Timestamp(i).month == 2):
            feb[ir].append(uct[ir][alt[ir]].loc[pd.Timestamp(i)])
            feb[ir] = list(filter(lambda a: a != 0, feb[ir]))
        if (pd.Timestamp(i).month == 3):
            mar[ir].append(uct[ir][alt[ir]].loc[pd.Timestamp(i)])
            mar[ir] = list(filter(lambda a: a != 0, mar[ir]))
        if (pd.Timestamp(i).month == 4):
            apr[ir].append(uct[ir][alt[ir]].loc[pd.Timestamp(i)])
            apr[ir] = list(filter(lambda a: a != 0, apr[ir]))
        if (pd.Timestamp(i).month == 5):
            may[ir].append(uct[ir][alt[ir]].loc[pd.Timestamp(i)])
            may[ir] = list(filter(lambda a: a != 0, may[ir]))
        if (pd.Timestamp(i).month == 6):
            jun[ir].append(uct[ir][alt[ir]].loc[pd.Timestamp(i)])
            jun[ir] = list(filter(lambda a: a != 0, jun[ir]))
        if (pd.Timestamp(i).month == 7):
            jul[ir].append(uct[ir][alt[ir]].loc[pd.Timestamp(i)])
            jul[ir] = list(filter(lambda a: a != 0, jul[ir]))
        if (pd.Timestamp(i).month == 8):
            aug[ir].append(uct[ir][alt[ir]].loc[pd.Timestamp(i)])
            aug[ir] = list(filter(lambda a: a != 0, aug[ir]))
        if (pd.Timestamp(i).month == 9):
            sep[ir].append(uct[ir][alt[ir]].loc[pd.Timestamp(i)])
            sep[ir] = list(filter(lambda a: a != 0, sep[ir]))
        if (pd.Timestamp(i).month == 10):
            oct[ir].append(uct[ir][alt[ir]].loc[pd.Timestamp(i)])
            oct[ir] = list(filter(lambda a: a != 0, oct[ir]))
        if (pd.Timestamp(i).month == 11):
            nov[ir].append(uct[ir][alt[ir]].loc[pd.Timestamp(i)])
            nov[ir] = list(filter(lambda a: a != 0, nov[ir]))
        if (pd.Timestamp(i).month == 12):
            dec[ir].append(uct[ir][alt[ir]].loc[pd.Timestamp(i)])
            dec[ir] = list(filter(lambda a: a != 0, dec[ir]))

        jan_mean[ir] = np.nanmean(jan[ir])
        feb_mean[ir] = np.nanmean(feb[ir])
        mar_mean[ir] = np.nanmean(mar[ir])
        apr_mean[ir] = np.nanmean(apr[ir])
        may_mean[ir] = np.nanmean(may[ir])
        jun_mean[ir] = np.nanmean(jun[ir])
        jul_mean[ir] = np.nanmean(jul[ir])
        aug_mean[ir] = np.nanmean(aug[ir])
        sep_mean[ir] = np.nanmean(sep[ir])
        oct_mean[ir] = np.nanmean(oct[ir])
        nov_mean[ir] = np.nanmean(nov[ir])
        dec_mean[ir] = np.nanmean(dec[ir])
print(jan_mean[0], dec_mean[0])
print(jan_mean[2], dec_mean[2])

/Users/denizpoyraz/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:64: RuntimeWarning: Mean of empty slice
/Users/denizpoyraz/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:65: RuntimeWarning: Mean of empty slice
/Users/denizpoyraz/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:67: RuntimeWarning: Mean of empty slice
/Users/denizpoyraz/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:68: RuntimeWarning: Mean of empty slice
/Users/denizpoyraz/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:69: RuntimeWarning: Mean of empty slice
/Users/denizpoyraz/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:70: RuntimeWarning: Mean of empty slice
/Users/denizpoyraz/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:71: RuntimeWarning: Mean of empty slice
/Users/denizpoyraz/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:72: RuntimeWarning: Mean of empty slice
/Users/denizpoyraz/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:73: RuntimeWarning: Mean of empty slice
/Users/denizpoyraz/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:74: RuntimeWarning: Mean of empty slice
/Users/denizpoyraz/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:75: RuntimeWarning: Mean of empty slice

128.31450704225355 129.2870833333333
111.80352112676056 112.72861111111109

In [72]:
print('january', len(jan[0]), np.mean(jan[0]), jan[0])
print('augustust', len(aug[0]), np.mean(aug[0]), aug[0])
print('next',jan_mean[0],aug_mean[0], dec_mean[0])

january 71 128.31450704225355 [149.91, 176.73, 150.74, 103.23, 91.24, 79.52, 65.68, 81.23, 136.61, 223.76, 251.51, 274.47, 196.03, 121.95, 91.73, 76.84, 72.95, 78.55, 87.87, 147.74, 189.12, 152.65, 158.27, 162.58, 114.78, 102.21, 83.1, 77.48, 74.75, 77.42, 109.57, 202.99, 206.16, 174.56, 179.04, 142.29, 116.11, 74.46, 73.25, 72.51, 108.02, 235.38, 210.06, 229.36, 217.59, 121.01, 115.0, 82.61, 74.52, 73.59, 92.7, 141.74, 158.72, 167.5, 227.62, 143.73, 113.9, 102.86, 83.32, 83.76, 74.02, 69.7, 81.31, 83.39, 134.79, 126.83, 162.69, 142.0, 103.64, 77.37, 70.01]
augustust 72 122.7248611111111 [231.21, 172.83, 175.16, 120.88, 109.78, 93.21, 72.53, 69.83, 90.63, 193.78, 202.33, 236.95, 234.19, 174.4, 106.23, 77.28, 80.87, 69.29, 74.7, 106.6, 153.74, 142.17, 143.02, 138.21, 114.07, 125.73, 82.88, 82.99, 90.39, 74.76, 84.26, 114.05, 172.72, 166.22, 220.59, 167.87, 124.37, 83.67, 71.48, 68.37, 89.96, 154.21, 217.09, 222.65, 210.31, 122.06, 93.66, 76.12, 73.75, 72.48, 79.09, 139.86, 169.93, 163.56, 166.85, 183.61, 122.17, 109.73, 98.24, 79.59, 69.03, 66.17, 67.36, 79.16, 101.61, 115.86, 114.9, 124.56, 105.93, 85.15, 78.25, 69.05]
next 128.31450704225355 122.7248611111111 129.2870833333333

In [84]:
uct2 = {}
dfde = pd.DataFrame()

for ir2 in range(3):  
    
    uct2[ir2] = df
   
    for i2 in (uct2[ir2][alt[ir2]].index):
        if (pd.Timestamp(i2).month == 1):
            uct2[ir2][alt[ir2]].loc[pd.Timestamp(i2)] = (uct2[ir2][alt[ir2]].loc[pd.Timestamp(i2)] - jan_mean[ir2])/jan_mean[ir2]
            print(i2, pd.Timestamp(i2),uct2[ir2][alt[ir2]].loc[pd.Timestamp(i2)]  )
        if (pd.Timestamp(i2).month == 2):
            uct2[ir2][alt[ir2]].loc[pd.Timestamp(i2)] = (uct2[ir2][alt[ir2]].loc[pd.Timestamp(i2)] - feb_mean[ir2])/feb_mean[ir2]
        if (pd.Timestamp(i2).month == 3):
            uct2[ir2][alt[ir2]].loc[pd.Timestamp(i2)] = (uct2[ir2][alt[ir2]].loc[pd.Timestamp(i2)] - mar_mean[ir2])/mar_mean[ir2]
        if (pd.Timestamp(i2).month == 4):
            uct2[ir2][alt[ir2]].loc[pd.Timestamp(i2)] = (uct2[ir2][alt[ir2]].loc[pd.Timestamp(i2)] - apr_mean[ir2])/apr_mean[ir2]
        if (pd.Timestamp(i2).month == 5):
            uct2[ir2][alt[ir2]].loc[pd.Timestamp(i2)] = (uct2[ir2][alt[ir2]].loc[pd.Timestamp(i2)] - may_mean[ir2])/may_mean[ir2]
        if (pd.Timestamp(i2).month == 6):
            uct2[ir2][alt[ir2]].loc[pd.Timestamp(i2)] = (uct2[ir2][alt[ir2]].loc[pd.Timestamp(i2)] - jun_mean[ir2])/jun_mean[ir2]
        if (pd.Timestamp(i2).month == 7):
            uct2[ir2][alt[ir2]].loc[pd.Timestamp(i2)] = (uct2[ir2][alt[ir2]].loc[pd.Timestamp(i2)] - jul_mean[ir2])/jul_mean[ir2]
        if (pd.Timestamp(i2).month == 8):
            uct2[ir2][alt[ir2]].loc[pd.Timestamp(i2)] = (uct2[ir2][alt[ir2]].loc[pd.Timestamp(i2)] - aug_mean[ir2])/aug_mean[ir2]
        if (pd.Timestamp(i2).month == 9):
            uct2[ir2][alt[ir2]].loc[pd.Timestamp(i2)] = (uct2[ir2][alt[ir2]].loc[pd.Timestamp(i2)] - sep_mean[ir2])/sep_mean[ir2]
        if (pd.Timestamp(i2).month == 10):
            uct2[ir2][alt[ir2]].loc[pd.Timestamp(i2)] = (uct2[ir2][alt[ir2]].loc[pd.Timestamp(i2)] - oct_mean[ir2])/oct_mean[ir2]
        if (pd.Timestamp(i2).month == 11):
            uct2[ir2][alt[ir2]].loc[pd.Timestamp(i2)] = (uct2[ir2][alt[ir2]].loc[pd.Timestamp(i2)] - nov_mean[ir2])/nov_mean[ir2]
        if (pd.Timestamp(i2).month == 12):
            uct2[ir2][alt[ir2]].loc[pd.Timestamp(i2)] = (uct2[ir2][alt[ir2]].loc[pd.Timestamp(i2)] - dec_mean[ir2])/dec_mean[ir2]


    #print('wh', ir2, alt[ir2],'uct',uct[ir2][alt[ir2]],'uct2',uct2[ir2][alt[ir2]])

    dfde[alt2[ir2]] = uct2[ir2][alt[ir2]]

dfde[20:40]

1948-01-01 00:00:00 1948-01-01 00:00:00 0.16830125802248624
1949-01-01 00:00:00 1949-01-01 00:00:00 0.37731893356223056
1950-01-01 00:00:00 1950-01-01 00:00:00 0.17476973940570736
1951-01-01 00:00:00 1951-01-01 00:00:00 -0.19549236965071534
1952-01-01 00:00:00 1952-01-01 00:00:00 -0.2889346489095348
1953-01-01 00:00:00 1953-01-01 00:00:00 -0.3802727233810413
1954-01-01 00:00:00 1954-01-01 00:00:00 -0.4881327021084857
1955-01-01 00:00:00 1955-01-01 00:00:00 -0.3669460930613931
1956-01-01 00:00:00 1956-01-01 00:00:00 0.06464968886966757
1957-01-01 00:00:00 1957-01-01 00:00:00 0.7438402341078748
1958-01-01 00:00:00 1958-01-01 00:00:00 0.9601057261372524
1959-01-01 00:00:00 1959-01-01 00:00:00 1.1390410665694872
1960-01-01 00:00:00 1960-01-01 00:00:00 0.5277306090997798
1961-01-01 00:00:00 1961-01-01 00:00:00 -0.049600837730356846
1962-01-01 00:00:00 1962-01-01 00:00:00 -0.28511590688811506
1963-01-01 00:00:00 1963-01-01 00:00:00 -0.4011589042328874
1964-01-01 00:00:00 1964-01-01 00:00:00 -0.4314750398723209
1965-01-01 00:00:00 1965-01-01 00:00:00 -0.3878322739132393
1966-01-01 00:00:00 1966-01-01 00:00:00 -0.3151982419956249
1967-01-01 00:00:00 1967-01-01 00:00:00 0.15138968621334223
1968-01-01 00:00:00 1968-01-01 00:00:00 0.47387855324669875
1969-01-01 00:00:00 1969-01-01 00:00:00 0.1896550399381798
1970-01-01 00:00:00 1970-01-01 00:00:00 0.23345367291854388
1971-01-01 00:00:00 1971-01-01 00:00:00 0.2670430160049085
1972-01-01 00:00:00 1972-01-01 00:00:00 -0.10547916486010955
1973-01-01 00:00:00 1973-01-01 00:00:00 -0.20344158773611956
1974-01-01 00:00:00 1974-01-01 00:00:00 -0.35237252657148554
1975-01-01 00:00:00 1975-01-01 00:00:00 -0.3961711595518495
1976-01-01 00:00:00 1976-01-01 00:00:00 -0.4174470079569018
1977-01-01 00:00:00 1977-01-01 00:00:00 -0.3966387606156968
1978-01-01 00:00:00 1978-01-01 00:00:00 -0.14608252390418375
1979-01-01 00:00:00 1979-01-01 00:00:00 0.581972332506067
1980-01-01 00:00:00 1980-01-01 00:00:00 0.6066772553793327
1981-01-01 00:00:00 1981-01-01 00:00:00 0.3604073617530866
1982-01-01 00:00:00 1982-01-01 00:00:00 0.39532157452035177
1983-01-01 00:00:00 1983-01-01 00:00:00 0.10891592291387875
1984-01-01 00:00:00 1984-01-01 00:00:00 -0.09511400794482769
1985-01-01 00:00:00 1985-01-01 00:00:00 -0.41970707976549715
1986-01-01 00:00:00 1986-01-01 00:00:00 -0.4291370345530844
1987-01-01 00:00:00 1987-01-01 00:00:00 -0.43490411434053444
1988-01-01 00:00:00 1988-01-01 00:00:00 -0.1581622180535724
1989-01-01 00:00:00 1989-01-01 00:00:00 0.8343989734729692
1990-01-01 00:00:00 1990-01-01 00:00:00 0.6370713245294074
1991-01-01 00:00:00 1991-01-01 00:00:00 0.7874830000669566
1992-01-01 00:00:00 1992-01-01 00:00:00 0.6957552580422439
1993-01-01 00:00:00 1993-01-01 00:00:00 -0.056926587730631244
1994-01-01 00:00:00 1994-01-01 00:00:00 -0.10376462762600279
1995-01-01 00:00:00 1995-01-01 00:00:00 -0.3561912685929051
1996-01-01 00:00:00 1996-01-01 00:00:00 -0.41923947870164985
1997-01-01 00:00:00 1997-01-01 00:00:00 -0.426487295191283
1998-01-01 00:00:00 1998-01-01 00:00:00 -0.277556356355917
1999-01-01 00:00:00 1999-01-01 00:00:00 0.10462957982861194
2000-01-01 00:00:00 2000-01-01 00:00:00 0.23696068089739858
2001-01-01 00:00:00 2001-01-01 00:00:00 0.30538630324038724
2002-01-01 00:00:00 2002-01-01 00:00:00 0.7739225692153848
2003-01-01 00:00:00 2003-01-01 00:00:00 0.120138348446214
2004-01-01 00:00:00 2004-01-01 00:00:00 -0.11233731379653664
2005-01-01 00:00:00 2005-01-01 00:00:00 -0.19837590954444043
2006-01-01 00:00:00 2006-01-01 00:00:00 -0.3506579893373788
2007-01-01 00:00:00 2007-01-01 00:00:00 -0.34722891486916513
2008-01-01 00:00:00 2008-01-01 00:00:00 -0.4231361542337107
2009-01-01 00:00:00 2009-01-01 00:00:00 -0.45680343083071645
2010-01-01 00:00:00 2010-01-01 00:00:00 -0.36632262497626333
2011-01-01 00:00:00 2011-01-01 00:00:00 -0.3501124547628902
2012-01-01 00:00:00 2012-01-01 00:00:00 0.05046578993296588
2013-01-01 00:00:00 2013-01-01 00:00:00 -0.011569284537442916
2014-01-01 00:00:00 2014-01-01 00:00:00 0.26790028462196175
2015-01-01 00:00:00 2015-01-01 00:00:00 0.10665585110528351
2016-01-01 00:00:00 2016-01-01 00:00:00 -0.19229709571442546
2017-01-01 00:00:00 2017-01-01 00:00:00 -0.3970284281689029
2018-01-01 00:00:00 2018-01-01 00:00:00 -0.4543874920008387
1948-01-01 00:00:00 1948-01-01 00:00:00 0.1680279543949715
1949-01-01 00:00:00 1949-01-01 00:00:00 0.3774841044525674
1950-01-01 00:00:00 1950-01-01 00:00:00 0.17487029596103434
1951-01-01 00:00:00 1951-01-01 00:00:00 -0.19526013369493245
1952-01-01 00:00:00 1952-01-01 00:00:00 -0.2889599640819584
1953-01-01 00:00:00 1953-01-01 00:00:00 -0.3801643522507732
1954-01-01 00:00:00 1954-01-01 00:00:00 -0.4881928508584956
1955-01-01 00:00:00 1955-01-01 00:00:00 -0.3669626579350754
1956-01-01 00:00:00 1956-01-01 00:00:00 0.06458784954331487
1957-01-01 00:00:00 1957-01-01 00:00:00 0.743911619849253
1958-01-01 00:00:00 1958-01-01 00:00:00 0.9597271226564839
1959-01-01 00:00:00 1959-01-01 00:00:00 1.1390769698234031
1960-01-01 00:00:00 1960-01-01 00:00:00 0.5276936263616657
1961-01-01 00:00:00 1961-01-01 00:00:00 -0.04971950367797114
1962-01-01 00:00:00 1962-01-01 00:00:00 -0.2850155554144634
1963-01-01 00:00:00 1963-01-01 00:00:00 -0.40117436576538984
1964-01-01 00:00:00 1964-01-01 00:00:00 -0.4314416649282093
1965-01-01 00:00:00 1965-01-01 00:00:00 -0.3878116751775494
1966-01-01 00:00:00 1966-01-01 00:00:00 -0.31512185830514006
1967-01-01 00:00:00 1967-01-01 00:00:00 0.15144533836427787
1968-01-01 00:00:00 1968-01-01 00:00:00 0.4736793770578045
1969-01-01 00:00:00 1969-01-01 00:00:00 0.18952095672601624
1970-01-01 00:00:00 1970-01-01 00:00:00 0.23355343715703272
1971-01-01 00:00:00 1971-01-01 00:00:00 0.2671211598987765
1972-01-01 00:00:00 1972-01-01 00:00:00 -0.1055047119754015
1973-01-01 00:00:00 1973-01-01 00:00:00 -0.2033904454381366
1974-01-01 00:00:00 1974-01-01 00:00:00 -0.3524729934422363
1975-01-01 00:00:00 1975-01-01 00:00:00 -0.3961029831928962
1976-01-01 00:00:00 1976-01-01 00:00:00 -0.41759598552394084
1977-01-01 00:00:00 1977-01-01 00:00:00 -0.3965859720093242
1978-01-01 00:00:00 1978-01-01 00:00:00 -0.14591477628320831
1979-01-01 00:00:00 1979-01-01 00:00:00 0.5820298682098123
1980-01-01 00:00:00 1980-01-01 00:00:00 0.6064208034394247
1981-01-01 00:00:00 1981-01-01 00:00:00 0.36065999401365983
1982-01-01 00:00:00 1982-01-01 00:00:00 0.39559618506861627
1983-01-01 00:00:00 1983-01-01 00:00:00 0.10886182438254535
1984-01-01 00:00:00 1984-01-01 00:00:00 -0.09495945615005749
1985-01-01 00:00:00 1985-01-01 00:00:00 -0.4196889370617953
1986-01-01 00:00:00 1986-01-01 00:00:00 -0.4291877171182121
1987-01-01 00:00:00 1987-01-01 00:00:00 -0.43498358291534767
1988-01-01 00:00:00 1988-01-01 00:00:00 -0.15831148923819277
1989-01-01 00:00:00 1989-01-01 00:00:00 0.8340695322491407
1990-01-01 00:00:00 1990-01-01 00:00:00 0.637412585826886
1991-01-01 00:00:00 1991-01-01 00:00:00 0.7879441002802697
1992-01-01 00:00:00 1992-01-01 00:00:00 0.6956932363425277
1993-01-01 00:00:00 1993-01-01 00:00:00 -0.056883837788319354
1994-01-01 00:00:00 1994-01-01 00:00:00 -0.10381425111790366
1995-01-01 00:00:00 1995-01-01 00:00:00 -0.35585391515723214
1996-01-01 00:00:00 1996-01-01 00:00:00 -0.41936694451751005
1997-01-01 00:00:00 1997-01-01 00:00:00 -0.42645078049178686
1998-01-01 00:00:00 1998-01-01 00:00:00 -0.2776097268959012
1999-01-01 00:00:00 1999-01-01 00:00:00 0.10459542317076495
2000-01-01 00:00:00 2000-01-01 00:00:00 0.23685386073595716
2001-01-01 00:00:00 2001-01-01 00:00:00 0.30535777453265733
2002-01-01 00:00:00 2002-01-01 00:00:00 0.7740179227399299
2003-01-01 00:00:00 2003-01-01 00:00:00 0.11997056716038859
2004-01-01 00:00:00 2004-01-01 00:00:00 -0.11258854794967844
2005-01-01 00:00:00 2005-01-01 00:00:00 -0.19831906286564288
2006-01-01 00:00:00 2006-01-01 00:00:00 -0.35062153631259574
2007-01-01 00:00:00 2007-01-01 00:00:00 -0.3472406145976
2008-01-01 00:00:00 2008-01-01 00:00:00 -0.42315035691286246
2009-01-01 00:00:00 2009-01-01 00:00:00 -0.45679857779067756
2010-01-01 00:00:00 2010-01-01 00:00:00 -0.36639917098257613
2011-01-01 00:00:00 2011-01-01 00:00:00 -0.35013854749616774
2012-01-01 00:00:00 2012-01-01 00:00:00 0.05042017759476118
2013-01-01 00:00:00 2013-01-01 00:00:00 -0.011643885316232892
2014-01-01 00:00:00 2014-01-01 00:00:00 0.26784564312341846
2015-01-01 00:00:00 2015-01-01 00:00:00 0.1066883747086194
2016-01-01 00:00:00 2016-01-01 00:00:00 -0.19236220079636462
2017-01-01 00:00:00 2017-01-01 00:00:00 -0.3969884626896808
2018-01-01 00:00:00 2018-01-01 00:00:00 -0.45438363370853774
1948-01-01 00:00:00 1948-01-01 00:00:00 0.16803119153948398
1949-01-01 00:00:00 1949-01-01 00:00:00 0.3775058106209963
1950-01-01 00:00:00 1950-01-01 00:00:00 0.1748288307581837
1951-01-01 00:00:00 1951-01-01 00:00:00 -0.19528473617576103
1952-01-01 00:00:00 1952-01-01 00:00:00 -0.2889311606754807

1953-01-01 00:00:00 1953-01-01 00:00:00 -0.38025207702143465
1954-01-01 00:00:00 1954-01-01 00:00:00 -0.4882093209289435
1955-01-01 00:00:00 1955-01-01 00:00:00 -0.3671040116905285
1956-01-01 00:00:00 1956-01-01 00:00:00 0.06463552131820793
1957-01-01 00:00:00 1957-01-01 00:00:00 0.7438627874603966
1958-01-01 00:00:00 1958-01-01 00:00:00 0.9598667178967129
1959-01-01 00:00:00 1959-01-01 00:00:00 1.1391991736005693
1960-01-01 00:00:00 1960-01-01 00:00:00 0.5277694144027817
1961-01-01 00:00:00 1961-01-01 00:00:00 -0.04967214870150725
1962-01-01 00:00:00 1962-01-01 00:00:00 -0.28490624271704
1963-01-01 00:00:00 1963-01-01 00:00:00 -0.40118165040532616
1964-01-01 00:00:00 1964-01-01 00:00:00 -0.43141325640428063
1965-01-01 00:00:00 1965-01-01 00:00:00 -0.38776525721052396
1966-01-01 00:00:00 1966-01-01 00:00:00 -0.3152272913372931
1967-01-01 00:00:00 1967-01-01 00:00:00 0.15139486397792906
1968-01-01 00:00:00 1968-01-01 00:00:00 0.47374607113837797
1969-01-01 00:00:00 1969-01-01 00:00:00 0.18949742065116762
1970-01-01 00:00:00 1970-01-01 00:00:00 0.2335926329514175
1971-01-01 00:00:00 1971-01-01 00:00:00 0.26704417331712454
1972-01-01 00:00:00 1972-01-01 00:00:00 -0.10548434439188456
1973-01-01 00:00:00 1973-01-01 00:00:00 -0.20342401471394103
1974-01-01 00:00:00 1974-01-01 00:00:00 -0.3525248644188434
1975-01-01 00:00:00 1975-01-01 00:00:00 -0.39626230623389874
1976-01-01 00:00:00 1976-01-01 00:00:00 -0.4175496501029849
1977-01-01 00:00:00 1977-01-01 00:00:00 -0.3966200767190935
1978-01-01 00:00:00 1978-01-01 00:00:00 -0.14600185184018738
1979-01-01 00:00:00 1979-01-01 00:00:00 0.5819716429097828
1980-01-01 00:00:00 1980-01-01 00:00:00 0.6065683637669202
1981-01-01 00:00:00 1981-01-01 00:00:00 0.3606905978168442
1982-01-01 00:00:00 1982-01-01 00:00:00 0.39566266274462875
1983-01-01 00:00:00 1983-01-01 00:00:00 0.1089096188610554
1984-01-01 00:00:00 1984-01-01 00:00:00 -0.09493011507864019
1985-01-01 00:00:00 1985-01-01 00:00:00 -0.41969627301415335
1986-01-01 00:00:00 1986-01-01 00:00:00 -0.42908774825051493
1987-01-01 00:00:00 1987-01-01 00:00:00 -0.4349015186349292
1988-01-01 00:00:00 1988-01-01 00:00:00 -0.15825549095810681
1989-01-01 00:00:00 1989-01-01 00:00:00 0.8341103923507663
1990-01-01 00:00:00 1990-01-01 00:00:00 0.6374260681149653
1991-01-01 00:00:00 1991-01-01 00:00:00 0.7878685571393478
1992-01-01 00:00:00 1992-01-01 00:00:00 0.6955637719591083
1993-01-01 00:00:00 1993-01-01 00:00:00 -0.05700644364799908
1994-01-01 00:00:00 1994-01-01 00:00:00 -0.10378493458720964
1995-01-01 00:00:00 1995-01-01 00:00:00 -0.35592368402819324
1996-01-01 00:00:00 1996-01-01 00:00:00 -0.4193385025289586
1997-01-01 00:00:00 1997-01-01 00:00:00 -0.4264939122328531
1998-01-01 00:00:00 1998-01-01 00:00:00 -0.2776613903918468
1999-01-01 00:00:00 1999-01-01 00:00:00 0.10461637303871864
2000-01-01 00:00:00 2000-01-01 00:00:00 0.23681256731817016
2001-01-01 00:00:00 2001-01-01 00:00:00 0.3054150578542589
2002-01-01 00:00:00 2002-01-01 00:00:00 0.7740943934593509
2003-01-01 00:00:00 2003-01-01 00:00:00 0.12000050390209187
2004-01-01 00:00:00 2004-01-01 00:00:00 -0.11255031147448047
2005-01-01 00:00:00 2005-01-01 00:00:00 -0.19832578529991624
2006-01-01 00:00:00 2006-01-01 00:00:00 -0.3506465693715711
2007-01-01 00:00:00 2007-01-01 00:00:00 -0.3472477497622211
2008-01-01 00:00:00 2008-01-01 00:00:00 -0.42318453524480193
2009-01-01 00:00:00 2009-01-01 00:00:00 -0.45681496085310624
2010-01-01 00:00:00 2010-01-01 00:00:00 -0.366388470720139
2011-01-01 00:00:00 2011-01-01 00:00:00 -0.3501993562650776
2012-01-01 00:00:00 2012-01-01 00:00:00 0.050414144531717525
2013-01-01 00:00:00 2013-01-01 00:00:00 -0.011659034649567537
2014-01-01 00:00:00 2014-01-01 00:00:00 0.26784915690881267
2015-01-01 00:00:00 2015-01-01 00:00:00 0.10667355332858836
2016-01-01 00:00:00 2016-01-01 00:00:00 -0.19233312967290453
2017-01-01 00:00:00 2017-01-01 00:00:00 -0.39697784720428814
2018-01-01 00:00:00 2018-01-01 00:00:00 -0.4544000100780418

            Obsflux_ds  Adjflux_ds  Absflux_ds
date
1948-11-01    0.300960    0.300787    0.300675
1948-12-01    0.495354    0.494721    0.494740
1949-01-01    0.377319    0.377484    0.377506
1949-02-01    0.746571    0.746508    0.746470
1949-03-01    0.632868    0.632167    0.632271
1949-04-01    0.459166    0.460337    0.460320
1949-05-01    0.201166    0.201270    0.201327
1949-06-01    0.291232    0.291427    0.291297
1949-07-01    0.328550    0.328290    0.328257
1949-08-01    0.427258    0.426820    0.426773
1949-09-01    0.394151    0.394010    0.393910
1949-10-01    0.420591    0.421755    0.421608
1949-11-01    0.418700    0.418587    0.418609
1949-12-01    0.277777    0.278121    0.277936
1950-01-01    0.174770    0.174870    0.174829
1950-02-01    0.136362    0.136684    0.136596
1950-03-01    0.103713    0.103290    0.103398
1950-04-01    0.313281    0.314049    0.314103
1950-05-01    0.267063    0.266197    0.266465
1950-06-01    0.055017    0.055163    0.055176

In [85]:
dfde.loc['1980-01-01':'1981-01-01']

            Obsflux_ds  Adjflux_ds  Absflux_ds
date
1980-01-01    0.606677    0.606421    0.606568
1980-02-01    0.585910    0.585215    0.585312
1980-03-01    0.345949    0.346416    0.346401
1980-04-01    0.661885    0.663091    0.663013
1980-05-01    0.806991    0.807783    0.808171
1980-06-01    0.583181    0.583460    0.583558
1980-07-01    0.535640    0.535589    0.535520
1980-08-01    0.354412    0.353909    0.353800
1980-09-01    0.486049    0.486064    0.485973
1980-10-01    0.628190    0.628027    0.627969
1980-11-01    0.715291    0.715861    0.715768
1980-12-01    0.759186    0.758904    0.758915
1981-01-01    0.360407    0.360660    0.360691

In [78]:
df.loc['1980-01-01':'1981-01-01']

            Obsflux  Adjflux  Absflux
date
1980-01-01   206.16   199.56   179.62
1980-02-01   199.99   195.09   175.59
1980-03-01   168.08   166.47   149.82
1980-04-01   207.90   209.41   188.46
1980-05-01   224.03   229.15   206.25
1980-06-01   193.16   199.32   179.40
1980-07-01   184.79   190.82   171.73
1980-08-01   166.22   170.28   153.24
1980-09-01   183.86   185.81   167.22
1980-10-01   204.23   202.84   182.55
1980-11-01   218.09   213.39   192.04
1980-12-01   227.44   220.31   198.28
1981-01-01   174.56   169.03   152.13

In [86]:
dfde[dfde['Obsflux_ds'] < 0]

            Obsflux_ds  Adjflux_ds  Absflux_ds
date
1950-08-01   -0.015032   -0.015100   -0.014952
1950-09-01   -0.203792   -0.203583   -0.203429
1950-10-01   -0.239838   -0.239762   -0.239835
1950-11-01   -0.198550   -0.198477   -0.198313
1950-12-01   -0.217942   -0.217910   -0.217767
1951-01-01   -0.195492   -0.195260   -0.195285
1951-02-01   -0.192414   -0.192482   -0.192492
1951-03-01   -0.179442   -0.179225   -0.179326
1951-04-01   -0.028529   -0.027845   -0.027747
1951-07-01   -0.033109   -0.032873   -0.032979
1951-08-01   -0.105479   -0.105504   -0.105506
1951-09-01   -0.048043   -0.047867   -0.047829
1951-10-01   -0.154773   -0.155166   -0.155204
1951-11-01   -0.179281   -0.179500   -0.179462
1951-12-01   -0.239677   -0.239786   -0.239856
1952-01-01   -0.288935   -0.288960   -0.288931
1952-02-01   -0.316676   -0.316478   -0.316544
1952-03-01   -0.399816   -0.399463   -0.399503
1952-04-01   -0.329251   -0.328601   -0.328653
1952-05-01   -0.348118   -0.347731   -0.347656
1952-06-01   -0.327910   -0.327673   -0.327650
1952-07-01   -0.261972   -0.262061   -0.261970
1952-08-01   -0.240496   -0.240593   -0.240586
1952-09-01   -0.366008   -0.366177   -0.366227
1952-10-01   -0.340209   -0.340329   -0.340430
1952-11-01   -0.344447   -0.344822   -0.344659
1952-12-01   -0.337443   -0.337427   -0.337613
1953-01-01   -0.380273   -0.380164   -0.380252
1953-02-01   -0.450296   -0.450306   -0.450256
1953-03-01   -0.464599   -0.464491   -0.464477
...                ...         ...         ...
2016-07-01   -0.282747   -0.282823   -0.282715
2016-08-01   -0.306172   -0.306269   -0.306226
2016-09-01   -0.293185   -0.293078   -0.293181
2016-10-01   -0.313183   -0.312880   -0.312873
2016-11-01   -0.381963   -0.382052   -0.382095
2016-12-01   -0.417653   -0.417664   -0.417628
2017-01-01   -0.397028   -0.396988   -0.396978
2017-02-01   -0.389790   -0.389689   -0.389765
2017-03-01   -0.401899   -0.401889   -0.401839
2017-04-01   -0.353232   -0.353061   -0.353096
2017-05-01   -0.406354   -0.406347   -0.406219
2017-06-01   -0.386677   -0.386779   -0.386790
2017-07-01   -0.355295   -0.355329   -0.355319
2017-08-01   -0.362395   -0.362483   -0.362502
2017-09-01   -0.228202   -0.227816   -0.227778
2017-10-01   -0.390993   -0.390814   -0.390816
2017-11-01   -0.431513   -0.431504   -0.431591
2017-12-01   -0.445420   -0.445448   -0.445394
2018-01-01   -0.454387   -0.454384   -0.454400
2018-02-01   -0.431978   -0.431536   -0.431476
2018-03-01   -0.453389   -0.453410   -0.453423
2018-04-01   -0.440682   -0.440501   -0.440456
2018-05-01   -0.427728   -0.427805   -0.427785
2018-06-01   -0.404463   -0.404574   -0.404533
2018-07-01   -0.421528   -0.421559   -0.421576
2018-08-01   -0.437359   -0.437223   -0.437242
2018-09-01   -0.449016   -0.448954   -0.448959
2018-10-01   -0.445444   -0.445231   -0.445305
2018-11-01   -0.457153   -0.457074   -0.457055
2018-12-01   -0.458183   -0.458222   -0.458256

[498 rows x 3 columns]

In [88]:
dfde[dfde['Obsflux_ds'] > 0]

            Obsflux_ds  Adjflux_ds  Absflux_ds
date
1947-03-01    0.812082    0.812530    0.812546
1947-04-01    1.111530    1.111247    1.111283
1947-05-01    1.106557    1.107094    1.107297
1947-06-01    0.783005    0.783418    0.783313
1947-07-01    0.722121    0.722207    0.722218
1947-08-01    0.883970    0.885120    0.885196
1947-09-01    0.552083    0.552365    0.552353
1947-10-01    0.666617    0.666633    0.666494
1947-11-01    0.414374    0.413280    0.413249
1947-12-01    0.364637    0.364665    0.364693
1948-01-01    0.168301    0.168028    0.168031
1948-02-01    0.064754    0.064692    0.064639
1948-03-01    0.085375    0.085011    0.084885
1948-04-01    0.663884    0.666030    0.666101
1948-05-01    0.826591    0.826322    0.826757
1948-06-01    0.602688    0.603003    0.602978
1948-07-01    0.518771    0.518690    0.518621
1948-08-01    0.408272    0.408771    0.408662
1948-09-01    0.323348    0.323549    0.323619
1948-10-01    0.268797    0.267974    0.267862
1948-11-01    0.300960    0.300787    0.300675
1948-12-01    0.495354    0.494721    0.494740
1949-01-01    0.377319    0.377484    0.377506
1949-02-01    0.746571    0.746508    0.746470
1949-03-01    0.632868    0.632167    0.632271
1949-04-01    0.459166    0.460337    0.460320
1949-05-01    0.201166    0.201270    0.201327
1949-06-01    0.291232    0.291427    0.291297
1949-07-01    0.328550    0.328290    0.328257
1949-08-01    0.427258    0.426820    0.426773
...                ...         ...         ...
2003-07-01    0.063954    0.064016    0.064036
2003-10-01    0.249106    0.247507    0.247530
2003-11-01    0.170950    0.171086    0.171125
2011-09-01    0.093320    0.093134    0.093108
2011-10-01    0.095399    0.095732    0.095746
2011-11-01    0.207287    0.207994    0.208025
2011-12-01    0.094154    0.094335    0.094310
2012-01-01    0.050466    0.050420    0.050414
2012-07-01    0.145228    0.145214    0.145314
2013-05-01    0.060094    0.059740    0.059917
2013-10-01    0.059205    0.058812    0.058826
2013-11-01    0.170164    0.170362    0.170411
2013-12-01    0.145513    0.145591    0.145583
2014-01-01    0.267900    0.267846    0.267849
2014-02-01    0.349122    0.348924    0.348946
2014-03-01    0.205172    0.204876    0.204859
2014-04-01    0.150610    0.150925    0.150855
2014-05-01    0.049447    0.048853    0.048958
2014-06-01    0.002971    0.002731    0.002744
2014-07-01    0.145975    0.145938    0.146208
2014-08-01    0.014953    0.015114    0.015085
2014-09-01    0.184653    0.184628    0.184548
2014-10-01    0.235632    0.235307    0.235312
2014-11-01    0.224905    0.224639    0.224643
2014-12-01    0.229976    0.230059    0.230122
2015-01-01    0.106656    0.106688    0.106674
2015-02-01    0.022329    0.021952    0.021934
2015-03-01    0.016108    0.015696    0.015777
2015-04-01    0.031584    0.031877    0.031904
2015-06-01    0.053542    0.053416    0.053411

[364 rows x 3 columns]